<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="c9207ca6-569c-4219-ad57-6a9b12cc6136" Version="1.0.0.0" Publisher="CN=srozga" />
  <Properties>
    <DisplayName>Rozga.WinJS.KnockoutIntegration.TestRunner</DisplayName>
    <PublisherDisplayName>siz</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Rozga.WinJS.KnockoutIntegration.TestRunner" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="Rozga.WinJS.KnockoutIntegration.TestRunner" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>